<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Styling CSS-->
        <link rel="stylesheet" href="style/style.css">

        <title>B.Harden's Portfolio</title>
    </head>

    <body>

    <!-- Navigation -->
        <nav class="navbar navbar-expand-md navbar-dark sticky-top" style="background-color: #000033;"> <!--htmlcolorcodes.com/color-chart/ -->
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img class="img-responsive" src="img\total-solar-eclipse_v1.jpg" data-toggle="tooltip" title="Click to go Home">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="page2.html">Career Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="page3.html">Hobbies Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="page4.html">Future Endeavors</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Table-->
        <div>
            <h4>Academics</h4>
            <table>
                <tr>
                    <th>University</th>
                    <th>Location</th>
                    <th>Degree</th>
                    <th>Graduation Date</th>
                </tr>
                <tr>
                    <td>Lipscomb University</td>
                    <td>Nashville, TN</td>
                    <td>MS: Data Science</td>
                    <td>May 2018</td>
                </tr>
                <tr>
                    <td>The University of TN at Chattanooga</td>
                    <td>Chattanooga, TN</td>
                    <td>BS: Economics</td>
                    <td>Dec 2014</td>
                </tr>
            </table>
        </div>  
        <div>
            <h4>Career</h4>
            <table>
                <tr>
                    <th>Company</th>
                    <th>Location</th>
                    <th>Role</th>
                    <th>Responsibilities</th>
                    <th>Period</th>
                </tr>
                <tr>
                    <td>HCA</td>
                    <td>Nashville, TN</td>
                    <td>Process Engineer/ Business Analyst</td>
                    <td>
                        <ul>
                            <li>
                                My daily workflow involved working with numerous Business Units to create process maps of current state workflows. Retrieving/ analyzing data with the identification of KPIs and creation of performance measurements. Assist Business Units implement a future state process and control plan.    
                            </li>
                        </ul>
                    </td>
                    <td>February 2019 – April 2020</td>
                </tr>
                <tr>
                    <td>HCA</td>
                    <td>Franklin, TN</td>
                    <td>Developer Intern</td>
                    <td>
                        <ul>
                            <li>
                                I reported directly to the Director of IT&S Product Development Corporate Systems and received mentorship in IT Management.
                            </li>
                            <li>
                                I assisted HCA’s ERP Development Team implement data analysis into both their products and reporting using technologies such as SQL Server, SSRS and Power BI.
                            </li>
                        </ul>
                    </td>
                    <td>August 2018 – February 2019</td>
                </tr>
                <tr>
                    <td>Care Management Consultants, Inc.</td>
                    <td>Brentwood, TN</td>
                    <td>Office Manager</td>
                    <td>
                        <ul>
                            <li>
                                Personal Assistant to company owner. 
                            </li>
                            <li>
                                I facilitated in the daily management of business records and office personnel.
                            </li>
                        </ul>
                    </td>
                    <td>January 2017 – August 2018</td>
                </tr>
            </table>
        </div>     

    <!-- Scripts for JavaScript functionality--> <!-- jQuery must come first, then Popper.js, and then BootStrap's JavaScript plugins-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>